@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
:root {
  --openSans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/bg-mobile.svg");
  background-color: var(--violet);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  text-align: center;
}

.container {
  margin: 2.25em;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.container .logo {
  width: 8rem;
}
.container .intro-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.container .intro-section .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.container .intro-section .content-container h1 {
  font-size: 1.25rem;
}
.container .intro-section .content-container p {
  font-size: 14px;
  font-family: var(--openSans);
  line-height: 1.75;
}
.container .intro-section .content-container h1,
.container .intro-section .content-container p {
  color: #f7eefb;
}
.container .intro-section .content-container button {
  background-color: white;
  color: #65519e;
  padding: 0.5rem 3.75rem;
  border: 0;
  border-radius: 30px;
  filter: drop-shadow(0px 5px 10px #56428d);
}
.container .intro-section .content-container button:active,
.container .intro-section .content-container button:hover {
  background-color: var(--softMagenta);
  color: white;
}
.container .social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
}
.container .social-media-container .fab {
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  color: white;
}
.container .social-media-container .fab:active,
.container .social-media-container .fab:hover {
  border: 2px solid var(--softMagenta);
  color: var(--softMagenta);
}
.container .social-media-container .fa-facebook-f {
  padding: 0.5rem 0.75rem;
}

h1,
button {
  font-family: var(--poppins);
}

.fab,
button {
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    background: url("./images/bg-desktop.svg");
    background-color: var(--violet);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }

  .container {
    margin: 3rem 5rem 2rem 5rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;
    height: 100vh;
  }
  .container .logo {
    width: 12rem;
    padding-bottom: 4rem;
    align-self: flex-start;
  }
  .container .intro-section {
    flex-direction: row;
    justify-self: center;
    gap: 2rem;
    width: 100%;
  }
  .container .intro-section img {
    display: block;
    width: 50%;
    height: auto;
    align-self: center;
  }
  .container .intro-section .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }
  .container .intro-section .content-container h1 {
    font-size: 3rem;
    max-width: 550px;
  }
  .container .intro-section .content-container p {
    font-size: 18px;
    max-width: 520px;
  }
  .container .social-media-container {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .container .intro-section {
    gap: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
